<!-- Search Structure -->
<div class="container-fluid">
	<div class="row">
	<!-- Fist Seach Section on Left -->
		<div ng-controller="MainCtrl" class="col-md-4 ">
			<div class="jumbotron">
				<form class="container">
				<!-- Job Type -->
						<h3> What govJob are you seeking? </h3>
						<div class="form-group">
					    	<input ng-model="search.jobtitle" class="form-control" id="exampleJob" placeholder="Job Title?">
					  	</div>
					  	<!-- Location -->
					  	<div class="form-group">
					    	<input ng-model="search.location" class="form-control" id="exampleLocation" placeholder="Location?">
					  	</div>
					  	<!-- Department -->
					  	<div class="form-group">
					    	<input ng-model="search.department" class="form-control" id="exampleJob" placeholder="Department?">
					  	</div>
					  	<!-- Part Time Full Time -->
					  	<div class="row">
						  	<div class="btn-group  col-md-12">
				  				<label>
				    				<input ng-model="search.time" value="part-time" type="radio"> Part-Time
				  				</label>
				  				<label>
				    				<input ng-model="search.time" value="full-time" type="radio"> Full-Time
				  				</label>
				  				<label>
				    				<input ng-model="search.time" value="" type="radio" checked> Both
				  				</label>
				  				<!-- Fed or State -->
							</div>
						  	<div class="btn-group col-md-12">
				  				<label>
				    				<input ng-model="search.level" value="&tags=federal" type="radio"> Federal
				  				</label>
				  				<label>
				    				<input ng-model="search.level" value="&tags=state" type="radio"> State
				  				</label>
				  				<label>
				    				<input ng-model="search.level" value="" type="radio" checked> Both
				  				</label>
			  				</div>
						</div>
						<!-- Pay Range -->
					  	<div class="form-group container">
					  	<div class="row">
						    <h5 for="exampleLocation">What is your minimum rate of pay?</h5>
							<div class="input-group">
		  						<span class="input-group-addon">$</span>
		  						<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" ng-model="search.minamount">
		  						<span class="input-group-addon">.00</span>
							</div>
							<div class="btn-group  col-md-12">
				  				<label>
				    				<h6>(Either by hourly or by salary)</h6>
				  				</label>
							</div>
						</div>
				  	</div>
					<!-- Submit -->
				  	<button type="submit" ui-sref="search.results" class="btn btn-default">Submit</button>
				</form>
				</div>
			</div>

			<!-- Results (Column Two & Three) -->
			<div class='col-md-8'>
				<div ui-view></div>
			</div>
	</div>
</div>