
	<div ng-controller="MainCtrl" class="container-fluid">
		<div class="row">
			<aside class="col-md-4"></aside>
			<section class="col-md-4 question">
				<div class="input-group">
					<h2> Lets find all the </h2>
	  					<input type="text" ng-model="entry" class="form-control welcome" placeholder="your profession" ui-keypress="{13:'search'}" aria-describedby="basic-addon1">
	  				<h2> positions near you! </h2>
				</div>
				<div>
					<div class="btn-group" role="group" aria-label="Search">
	  					<button type="button" class="btn btn-default" ui-sref="search" ng-click="submit()">Search</button>
					</div>
					<h4>Use <button type="button" class="btn btn-default">Advanced Search</button> to dig a little deeper!</h4>
			</section>
			<aside class="col-md-4"></aside>
		</div>
	</div>
